.row {
  font-size: 0;
}

.tile {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
}

.tile-snake {
  background-color: green;
}

.tile-fruit {
  background-color: red;
}
